<!DOCTYPE html>
<html>
  <head>
    <title>Form components | Flatty - Flat Administration Template</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta content='text/html;charset=utf-8' http-equiv='content-type'>
    <meta content='Flat administration template for Twitter Bootstrap. Twitter Bootstrap 3 template with Ruby on Rails support.' name='description'>
    <link href='{{ asset('public/assets/images/meta_icons/favicon.ico') }}' rel='shortcut icon' type='image/x-icon'>
    <link href='{{ asset('public/assets/images/meta_icons/apple-touch-icon.png') }}' rel='apple-touch-icon-precomposed'>
    <link href='{{ asset('public/assets/images/meta_icons/apple-touch-icon-57x57.png') }}' rel='apple-touch-icon-precomposed' sizes='57x57'>
    <link href='{{ asset('public/assets/images/meta_icons/apple-touch-icon-72x72.png') }}' rel='apple-touch-icon-precomposed' sizes='72x72'>
    <link href='{{ asset('public/assets/images/meta_icons/apple-touch-icon-114x114.png') }}' rel='apple-touch-icon-precomposed' sizes='114x114'>
    <link href='{{ asset('public/assets/images/meta_icons/apple-touch-icon-144x144.png') }}' rel='apple-touch-icon-precomposed' sizes='144x144'>
    <!-- / START - page related stylesheets [optional] -->
    <link href="{{ asset('public/assets/stylesheets/plugins/select2/select2.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ asset('public/assets/stylesheets/plugins/bootstrap_colorpicker/bootstrap-colorpicker.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ asset('public/assets/stylesheets/plugins/bootstrap_daterangepicker/bootstrap-daterangepicker.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ asset('public/assets/stylesheets/plugins/bootstrap_datetimepicker/bootstrap-datetimepicker.min.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ asset('public/assets/stylesheets/plugins/bootstrap_switch/bootstrap-switch.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ asset('public/assets/stylesheets/plugins/common/bootstrap-wysihtml5.css') }}" media="all" rel="stylesheet" type="text/css" />
    <!-- / END - page related stylesheets [optional] -->
    <!-- / bootstrap [required] -->
    <link href="{{ asset('public/assets/stylesheets/bootstrap/bootstrap.css') }}" media="all" rel="stylesheet" type="text/css" />
    <!-- / theme file [required] -->
    <link href="{{ asset('public/assets/stylesheets/light-theme.css') }}" media="all" id="color-settings-body-color" rel="stylesheet" type="text/css" />
    <!-- / coloring file [optional] (if you are going to use custom contrast color) -->
    <link href="{{ asset('public/assets/stylesheets/theme-colors.css') }}" media="all" rel="stylesheet" type="text/css" />
    <!-- / demo file [not required!] -->
    <link href="{{ asset('public/assets/stylesheets/demo.css') }}" media="all" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
      <script src="{{ asset('public/assets/javascripts/ie/html5shiv.js') }}" type="text/javascript"></script>
      <script src="{{ asset("assets/javascripts/ie/respond.min.js") }}" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body class='contrast-red '>
    <header>
      <nav class='navbar navbar-default'>
        <a class='navbar-brand' href='index.html'>
          <img width="81" height="21" class="logo" alt="Flatty" src="{{ asset('public/assets/images/meta_icons/apple-touch-icon-144x144.png') }}" />
          <img width="21" height="21" class="logo-xs" alt="Flatty" src="{{ asset('public/assets/images/logo_xs.svg') }}" />
        </a>
        <a class='toggle-nav btn pull-left' href='#'>
          <i class='icon-reorder'></i>
        </a>
        <ul class='nav'>
          <li class='dropdown light only-icon'>
            <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
              <i class='icon-cog'></i>
            </a>
            <ul class='dropdown-menu color-settings'>
              <li class='color-settings-body-color'>
                <div class='color-title'>Body color</div>
                <a data-change-to='assets/stylesheets/light-theme.css' href='#'>
                  Light
                  <small>(default)</small>
                </a>
                <a data-change-to='assets/stylesheets/dark-theme.css' href='#'>
                  Dark
                </a>
                <a data-change-to='assets/stylesheets/dark-blue-theme.css' href='#'>
                  Dark blue
                </a>
              </li>
              <li class='divider'></li>

            </ul>
          </li>
          <li class='dropdown medium only-icon widget'>
            <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
              <i class='icon-rss'></i>
              <div class='label'>5</div>
            </a>
            <ul class='dropdown-menu'>
              <li>
                <a href='#'>
                  <div class='widget-body'>
                    <div class='pull-left icon'>
                      <i class='icon-user text-success'></i>
                    </div>
                    <div class='pull-left text'>
                      John Doe signed up
                      <small class='text-muted'>just now</small>
                    </div>
                  </div>
                </a>
              </li>
              <li class='divider'></li>
              <li>
                <a href='#'>
                  <div class='widget-body'>
                    <div class='pull-left icon'>
                      <i class='icon-inbox text-error'></i>
                    </div>
                    <div class='pull-left text'>
                      New Order #002
                      <small class='text-muted'>3 minutes ago</small>
                    </div>
                  </div>
                </a>
              </li>
              <li class='divider'></li>
              <li>
                <a href='#'>
                  <div class='widget-body'>
                    <div class='pull-left icon'>
                      <i class='icon-comment text-warning'></i>
                    </div>
                    <div class='pull-left text'>
                      America Leannon commented Flatty with veeery long text.
                      <small class='text-muted'>1 hour ago</small>
                    </div>
                  </div>
                </a>
              </li>
              <li class='divider'></li>
              <li>
                <a href='#'>
                  <div class='widget-body'>
                    <div class='pull-left icon'>
                      <i class='icon-user text-success'></i>
                    </div>
                    <div class='pull-left text'>
                      Jane Doe signed up
                      <small class='text-muted'>last week</small>
                    </div>
                  </div>
                </a>
              </li>
              <li class='divider'></li>
              <li>
                <a href='#'>
                  <div class='widget-body'>
                    <div class='pull-left icon'>
                      <i class='icon-inbox text-error'></i>
                    </div>
                    <div class='pull-left text'>
                      New Order #001
                      <small class='text-muted'>1 year ago</small>
                    </div>
                  </div>
                </a>
              </li>
              <li class='widget-footer'>
                <a href='#'>All notifications</a>
              </li>
            </ul>
          </li>
          <li class='dropdown dark user-menu'>
            <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
              <img width="23" height="23" alt="Mila Kunis" src="{{ asset('public/assets/images/avatar.jpg') }}" />
              <span class='user-name'>Mila Kunis</span>
              <b class='caret'></b>
            </a>
            <ul class='dropdown-menu'>
              <li>
                <a href='user_profile.html'>
                  <i class='icon-user'></i>
                  Profile
                </a>
              </li>
              <li>
                <a href='user_profile.html'>
                  <i class='icon-cog'></i>
                  Settings
                </a>
              </li>
              <li class='divider'></li>
              <li>
                <a href='sign_in.html'>
                  <i class='icon-signout'></i>
                  Sign out
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <form action='search_results.html' class='navbar-form navbar-right hidden-xs' method='get'>
          <button class='btn btn-link icon-search' name='button' type='submit'></button>
          <div class='form-group'>
            <input value="" class="form-control" placeholder="Search..." autocomplete="off" id="q_header" name="q" type="text" />
          </div>
        </form>
      </nav>
    </header>
    <div id='wrapper'>
      <div id='main-nav-bg'></div>
      <nav id='main-nav'>
        <div class='navigation'>
          <div class='search'>
            <form action='search_results.html' method='get'>
              <div class='search-wrapper'>
                <input value="" class="search-query form-control" placeholder="Search..." autocomplete="off" name="q" type="text" />
                <button class='btn btn-link icon-search' name='button' type='submit'></button>
              </div>
            </form>
          </div>
          <ul class='nav nav-stacked'>
            <li class=''>
              <a href='{{ path('logout') }}'>
                <i class='icon-dashboard'></i>
                <span>Logout</span>
              </a>
            </li>
            <li class=''>
                <a href='{{ path('orders_list') }}'>
                    <i class='icon-dashboard'></i>
                    <span>Orders</span>
                </a>
            </li>
            <li class=''>
                <a href='{{ path('dispatches_list') }}'>
                    <i class='icon-dashboard'></i>
                    <span>Dispatches</span>
                </a>
            </li>
            <li class=''>
                <a href='{{ path('invoices_list') }}'>
                    <i class='icon-dashboard'></i>
                    <span>Invoices</span>
                </a>
            </li>
            <li class=''>
              <a class="dropdown-collapse" href="#">
                <i class='icon-edit'></i>
                    <span>Mobile Users</span>
                <i class='icon-angle-down angle-down'></i>
              </a>
      
              <ul class='nav nav-stacked'>
                <li class=''>
                  <a href='{{ path('mobile_users_list') }}'>
                    <i class='icon-caret-right'></i>
                    <span>Show All</span>
                  </a>
                </li>
                <li class=''>
                  <a href='{{ path('mobile_user_form') }}'>
                    <i class='icon-caret-right'></i>
                    <span>Create New Mobile User</span>
                  </a>
                </li>

              </ul>
            </li>
            <li class=''>
                  <a class="dropdown-collapse" href="#">
                      <i class='icon-edit'></i>
                      <span>Departments</span>
                      <i class='icon-angle-down angle-down'></i>
                  </a>

                  <ul class='nav nav-stacked'>
                      <li class=''>
                          <a href='{{ path('departments_list') }}'>
                              <i class='icon-caret-right'></i>
                              <span>Show All</span>
                          </a>
                      </li>
                      <li class=''>
                          <a href='{{ path('department_form') }}'>
                              <i class='icon-caret-right'></i>
                              <span>Create New Department</span>
                          </a>
                      </li>

                  </ul>
              </li>
            <li class=''>
                  <a class="dropdown-collapse" href="#">
                      <i class='icon-edit'></i>
                      <span>Plants</span>
                      <i class='icon-angle-down angle-down'></i>
                  </a>

                  <ul class='nav nav-stacked'>
                      <li class=''>
                          <a href='{{ path('plants_list') }}'>
                              <i class='icon-caret-right'></i>
                              <span>Show All</span>
                          </a>
                      </li>
                      <li class=''>
                          <a href='{{ path('plant_form') }}'>
                              <i class='icon-caret-right'></i>
                              <span>Create New Plant</span>
                          </a>
                      </li>

                  </ul>
              </li>
            <li class=''>
                  <a class="dropdown-collapse" href="#">
                      <i class='icon-edit'></i>
                      <span>Warehouses</span>
                      <i class='icon-angle-down angle-down'></i>
                  </a>

                  <ul class='nav nav-stacked'>
                      <li class=''>
                          <a href='{{ path('warehouses_list') }}'>
                              <i class='icon-caret-right'></i>
                              <span>Show All</span>
                          </a>
                      </li>
                      <li class=''>
                          <a href='{{ path('warehouse_form') }}'>
                              <i class='icon-caret-right'></i>
                              <span>Create New Warehouse</span>
                          </a>
                      </li>

                  </ul>
              </li>
            <li class=''>
                  <a class="dropdown-collapse" href="#">
                      <i class='icon-edit'></i>
                      <span>Divisions</span>
                      <i class='icon-angle-down angle-down'></i>
                  </a>

                  <ul class='nav nav-stacked'>
                      <li class=''>
                          <a href='{{ path('divisions_list') }}'>
                              <i class='icon-caret-right'></i>
                              <span>Show All</span>
                          </a>
                      </li>
                      <li class=''>
                          <a href='{{ path('division_form') }}'>
                              <i class='icon-caret-right'></i>
                              <span>Create New Division</span>
                          </a>
                      </li>

                  </ul>
              </li>
            <li class=''>
                  <a class="dropdown-collapse" href="#">
                      <i class='icon-edit'></i>
                      <span>Currencies</span>
                      <i class='icon-angle-down angle-down'></i>
                  </a>

                  <ul class='nav nav-stacked'>
                      <li class=''>
                          <a href='{{ path('currencies_list') }}'>
                              <i class='icon-caret-right'></i>
                              <span>Show All</span>
                          </a>
                      </li>
                      <li class=''>
                          <a href='{{ path('currency_form') }}'>
                              <i class='icon-caret-right'></i>
                              <span>Create New Currency</span>
                          </a>
                      </li>

                  </ul>
              </li>
            <li class=''>
                  <a class="dropdown-collapse" href="#">
                      <i class='icon-edit'></i>
                      <span>Customers</span>
                      <i class='icon-angle-down angle-down'></i>
                  </a>

                  <ul class='nav nav-stacked'>
                      <li class=''>
                          <a href='{{ path('customers_list') }}'>
                              <i class='icon-caret-right'></i>
                              <span>Show All</span>
                          </a>
                      </li>
                      <li class=''>
                          <a href='{{ path('customer_form') }}'>
                              <i class='icon-caret-right'></i>
                              <span>Create New Customer</span>
                          </a>
                      </li>

                  </ul>
              </li>
            <li class=''>
                  <a class="dropdown-collapse" href="#">
                      <i class='icon-edit'></i>
                      <span>Units</span>
                      <i class='icon-angle-down angle-down'></i>
                  </a>

                  <ul class='nav nav-stacked'>
                      <li class=''>
                          <a href='{{ path('units_list') }}'>
                              <i class='icon-caret-right'></i>
                              <span>Show All</span>
                          </a>
                      </li>
                      <li class=''>
                          <a href='{{ path('unit_form') }}'>
                              <i class='icon-caret-right'></i>
                              <span>Create New Unit</span>
                          </a>
                      </li>

                  </ul>
              </li>
            <li class=''>
                  <a class="dropdown-collapse" href="#">
                      <i class='icon-edit'></i>
                      <span>Products</span>
                      <i class='icon-angle-down angle-down'></i>
                  </a>

                  <ul class='nav nav-stacked'>
                      <li class=''>
                          <a href='{{ path('products_list') }}'>
                              <i class='icon-caret-right'></i>
                              <span>Show All</span>
                          </a>
                      </li>
                      <li class=''>
                          <a href='{{ path('product_form') }}'>
                              <i class='icon-caret-right'></i>
                              <span>Create New Products</span>
                          </a>
                      </li>

                  </ul>
              </li>
            <li class=''>
                  <a class="dropdown-collapse" href="#">
                      <i class='icon-edit'></i>
                      <span>Services</span>
                      <i class='icon-angle-down angle-down'></i>
                  </a>

                  <ul class='nav nav-stacked'>
                      <li class=''>
                          <a href='{{ path('services_list') }}'>
                              <i class='icon-caret-right'></i>
                              <span>Show All</span>
                          </a>
                      </li>
                      <li class=''>
                          <a href='{{ path('service_form') }}'>
                              <i class='icon-caret-right'></i>
                              <span>Create New Service</span>
                          </a>
                      </li>

                  </ul>
              </li>

          </ul>
        </div>
      </nav>
      <section id='content'>
        <div class='container'>
          <div class='row' id='content-wrapper'>
            <div class="col-xs-12">
                {% block content %}
                {% endblock %}

            </div>

          </div>
          <footer id='footer'>
            <div class='footer-wrapper'>
              <div class='row'>
                <div class='col-sm-6 text'>
                  Copyright © 2014 Matrix Software
                </div>

              </div>
            </div>
          </footer>
        </div>
      </section>
    </div>
    <!-- / jquery [required] -->
    <script src="{{ asset('public/assets/javascripts/jquery/jquery.min.js') }}" type="text/javascript"></script>
    <!-- / jquery mobile (for touch events) -->
    <script src="{{ asset('public/assets/javascripts/jquery/jquery.mobile.custom.min.js') }}" type="text/javascript"></script>
    <!-- / jquery migrate (for compatibility with new jquery) [required] -->
    <script src="{{ asset('public/assets/javascripts/jquery/jquery-migrate.min.js') }}" type="text/javascript"></script>
    <!-- / jquery ui -->
    <script src="{{ asset('public/assets/javascripts/jquery/jquery-ui.min.js') }}" type="text/javascript"></script>
    <!-- / jQuery UI Touch Punch -->
    <script src="{{ asset('public/assets/javascripts/plugins/jquery_ui_touch_punch/jquery.ui.touch-punch.min.js') }}" type="text/javascript"></script>
    <!-- / bootstrap [required] -->
    <script src="{{ asset('public/assets/javascripts/bootstrap/bootstrap.js') }}" type="text/javascript"></script>
    <!-- / modernizr -->
    <script src="{{ asset('public/assets/javascripts/plugins/modernizr/modernizr.min.js') }}" type="text/javascript"></script>
    <!-- / retina -->
    <script src="{{ asset('public/assets/javascripts/plugins/retina/retina.js') }}" type="text/javascript"></script>
    <!-- / theme file [required] -->
    <script src="{{ asset('public/assets/javascripts/theme.js') }}" type="text/javascript"></script>
    <!-- / START - page related files and scripts [optional] -->
    <script src="{{ asset('public/assets/javascripts/plugins/fileinput/bootstrap-fileinput.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/assets/javascripts/plugins/select2/select2.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/assets/javascripts/plugins/bootstrap_colorpicker/bootstrap-colorpicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/assets/javascripts/plugins/bootstrap_daterangepicker/bootstrap-daterangepicker.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/assets/javascripts/plugins/common/moment.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/assets/javascripts/plugins/bootstrap_datetimepicker/bootstrap-datetimepicker.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/assets/javascripts/plugins/input_mask/bootstrap-inputmask.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/assets/javascripts/plugins/bootstrap_maxlength/bootstrap-maxlength.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/assets/javascripts/plugins/charCount/charCount.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/assets/javascripts/plugins/autosize/jquery.autosize-min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/assets/javascripts/plugins/bootstrap_switch/bootstrapSwitch.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/assets/javascripts/plugins/naked_password/naked_password-0.2.4.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/assets/javascripts/plugins/mention/mention.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/assets/javascripts/plugins/typeahead/typeahead.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/assets/javascripts/plugins/common/wysihtml5.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/assets/javascripts/plugins/common/bootstrap-wysihtml5.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/assets/javascripts/plugins/pwstrength/pwstrength.js') }}" type="text/javascript"></script>
    <!-- / START - page related files and scripts [optional] -->
    <script src="{{ asset('public/assets/javascripts/plugins/datatables/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/assets/javascripts/plugins/datatables/jquery.dataTables.columnFilter.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/assets/javascripts/plugins/datatables/dataTables.overrides.js') }}" type="text/javascript"></script>
    <!-- / END - page related files and scripts [optional] -->
    {% block scripts %}
    {% endblock %}
    <script>
      $("input.nakedpassword").nakedPassword({
        path: "{{ asset('public/assets/images/plugins/naked_password/') }}"
      });

      var select2icon;
      select2icon = function(e) {
        return "<i class='" + e.text + "'></i> ." + e.text;
      };
      $("#select2-icon").select2({
        formatResult: select2icon,
        formatSelection: select2icon,
        escapeMarkup: function(e) {
          return e;
        }
      });
      $("#select2-tags").select2({
        tags: ["today", "tomorrow", "toyota"],
        tokenSeparators: [",", " "],
        placeholder: "Type your tag here... "
      });

      $("#daterange2").daterangepicker({
        format: "MM/DD/YYYY"
      }, function(start, end) {
        return $("#daterange2").parent().find("input").first().val(start.format("MMMM D, YYYY") + " - " + end.format("MMMM D, YYYY"));
      });

      $(".mention").mention({
        users: [
          {
            name: "Lindsay Made",
            username: "LindsayM",
            image: "http://placekitten.com/25/25"
          }, {
            name: "Rob Dyrdek",
            username: "robdyrdek",
            image: "http://placekitten.com/25/24"
          }, {
            name: "Rick Bahner",
            username: "RickyBahner",
            image: "http://placekitten.com/25/23"
          }, {
            name: "Jacob Kelley",
            username: "jakiestfu",
            image: "http://placekitten.com/25/22"
          }, {
            name: "John Doe",
            username: "HackMurphy",
            image: "http://placekitten.com/25/21"
          }, {
            name: "Charlie Edmiston",
            username: "charlie",
            image: "http://placekitten.com/25/20"
          }, {
            name: "Andrea Montoya",
            username: "andream",
            image: "http://placekitten.com/24/20"
          }, {
            name: "Jenna Talbert",
            username: "calisunshine",
            image: "http://placekitten.com/23/20"
          }, {
            name: "Street League",
            username: "streetleague",
            image: "http://placekitten.com/22/20"
          }, {
            name: "Loud Mouth Burrito",
            username: "Loudmouthfoods",
            image: "http://placekitten.com/21/20"
          }
        ]
      });
    </script>
    <!-- / END - page related files and scripts [optional] -->
  </body>
</html>
