{% extends "MatrixAdminBundle::base.html.twig" %}

{% block content %}
     {% for flashMessage in app.session.flashbag.get("notice") %}
         <div class="flash-notice">
             {{ flashMessage }}
         </div>
     {% endfor %}
    <form action="{{ path('licenses_create') }}" method="post">
        <input type="text" name="serial" required="true" value="{{ serial }}" readonly/>
        <select name="dist_id">
            <option></option>
            {% for license in licenses %}
                <option value="{{ license.distributor.id }}">{{ license.distributor.name }}</option>
             {% endfor %}
        </select>
        <input type="number" name="count_user" required="true" placeholder="Count"/>
        <input type="submit" value="Create"/>
    </form>
{% endblock %}