{% extends "MatrixAdminBundle::base.html.twig" %}
{% block content %}
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Vat</th>
            <th>Unit</th>
            <th>Company</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.name }}</td>
                <td>{{ service.description }}</td>
                <td>{{ service.vat }}</td>
                <td>{{ service.unit.name }}</td>
                <td>{{ service.company.name }}</td>
                <td>{{ service.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}