{% extends "MatrixAdminBundle::base.html.twig" %}
{% block content %}

    <table>
        <thead>
        <tr>
            <th>Serial</th>
            <th>User Count</th>
            <th>Status</th>
            <th>Owner name</th>
            <th>Distributor name</th>
        </tr>
        </thead>
        <tbody>
        {% for license in licenses %}
            <tr onclick='window.location.href = "{{ path("licenses_form_update") ~ "/" ~ license.id }}"'>
                <td>{{ license.serial }}</td>
                <td>{{ license.userCount }}</td>
                <td>{{ license.status }}</td>
                <td>{{ license.owner.name }}</td>
                <td>{{ license.distributor.name|default(' ') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}